NODE_ENV=local
PORT=3033

DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=starpets

DB_CONNECTION=postgresql://postgres:postgres@localhost:5432/starpets

RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_EXCHANGE=purchase-events

RABBITMQ_CONNECTION=amqp://guest:guest@localhost:5672


OUTBOX_POLL_INTERVAL_MS=2000
OUTBOX_BATCH_SIZE=10



